{% extends "bootstrap/base.html" %}


{% block title %}(=￣ω￣=){% endblock %}

{% block head %}
{{ super() }}
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<link rel="icon" href="{{ url_for('static', filename='shortcut.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<stript src="{{ url_for('static', filename='test.js') }}"></stript>
{% endblock %}

{% block navbar %}
<div class="container">
    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li ><a class="btn btn-xs btn-primary" href="{{ url_for('main.index') }}">主页</a></li>
            {% if current_user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">选项 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                    <li><a class="btn btn-xs btn-danger" href="{{ url_for('main.moderate') }}">管理评论</a></li>
                    {% endif %}
                    <li><a class="btn btn-sm btn-link" href="{{ url_for('main.user', name=current_user.name) }}">个人资料</a></li>
                    <li><a class="btn btn-sm btn-link" href="{{ url_for('auth.change_password') }}">更改密码</a></li>
                    <li><a class="btn btn-sm btn-link" href="{{ url_for('auth.change_email_request') }}">更改邮件</a></li>
                    <li><a class="btn btn-sm btn-link" href="{{ url_for('auth.logout') }}">注销</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
        <h3 class="muted">(=￣ω￣=)</h3>
    </div>
    <hr>
</div>

{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang("zh-CN") }} 
{% endblock %}