{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}编辑信息{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>编辑信息</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% if user == current_user %}
    <a id="upload_avater" title="{{ url_for('main.upload_avatar',_external=True) }}" href="#">
        上传头像
    </a>
    <span>上传图片不大于3M</span>
{% endif %}
<script type="text/javascript">
(function($) //用来触发上传头像的按钮
{
    $("#upload_avater").click(function()
    {
        var URL = $(this).attr("title")
        window.open(URL, "popup", "width=320,height=480")
        return false
    })
})(jQuery);
</script>
{% endblock %}
