<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Harry's guidence</title>
        <link type="text/css" rel="stylesheet" href="./static/css/style.css" />
        <link rel="icon" href="./static/image/shortcut.ico" type="image/x-icon">
    </head>

    <body>
    <div id="allcontent">
        <h1 id="logop">
            <img src="./static/image/logo.png"  alt="logo" />
        </h1>
        <div id="links">
            <div id="bilibili">
                <P class="linkbl">
                    <span class="linkp">
                        <a href="https://www.bilibili.com/"><img src="./static/image/bilibili.jpg" alt="bilibili" /></a>
                    </span>
                </P>
            </div>
            <div id="zhihu">
                <P class="linkbl">
                    <span class="linkp">
                        <a href="https://www.zhihu.com/"><img src="./static/image/zhihu.jpg" alt="zhihu" /></a>
                    </span>
                </P>
            </div>
            <div id="python">
                <P class="linkbl">
                    <span class="linkp">
                        <a href="https://www.python.com/"><img src="./static/image/python.jpg" alt="python" /></a>
                    </span>
                </P>
            </div>
            <div id="baidu">
                <P class="linkbl">
                    <span class="linkp">
                        <a href="https://www.baidu.com/"><img src="./static/image/baidu.jpg" alt="baidu" /></a>
                    </span>
                </P>
            </div>
        </div>
        <div id="main">
            <div id="preview">
                <table >
                    <tr>
                        <td class="change"><a href="#" id="pre">上一个</a>
                        <td class="change"><a href="#" id="next">下一个</a>
                    </tr>
                </table>
            </div>
            <div class="message"><a href="http://www.baidu.com" class="popup">查看原图</a></div>
            <p id="description" class="message">picture-0</p>
            <img id="picture" src="./static/pic2/pic0.jpg" width="600px" alt="到头了">
        </div>
        <div id="buding">
            <a href="https://www.bilibili.com/"><img src="./static/image/buding.gif" width="120px" alt="zhihu" /></a>
        </div>
        <div id="message">
            <h5>
                welcome to harry's first page!
            </h5>
            <h6>
                harryx520@qq.com
            </h6>
        </div>
    </div>
    <script type="text/javascript" src="./static/js/test.js"></script>
    </body>
</html>